header {
    height: 70px;
    color: white;
} 

.logo {
    font-size: 2.5rem;
}

main {
    height: calc(100vh - 140px);
    overflow-y: auto;
    background-color: white;
}

footer {
    height: 70px;
    background-color: azure;
    color: white;
}

footer, header {
    background-color: #EA047E;
}

.grid {
    height: 400px; 
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

.square {
    background-color: #FF6D28;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 5px;
}

.clicked {
    background-color: #FCE700;
}

.bomb {
    background-color: #EA047E;
}

.unclickable {
    pointer-events: none;
}

.square-text {
    color: #FCE700;
    font-weight: bold;
}

.icon-size {
    font-size: 1.3rem;
}

.message-text {
    color: black;
}

button {
    background-color: #00F5FF;
    border-radius: 10px;
    border: 1px solid #00F5FF;  
    color: white;
    font-weight: bold;
}
